body {
    background-color:black;
    color:aliceblue;
    font-size:22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color:orangered;
}

.left {
    float: left;
    width: 48%;
}

.left + .left {
    margin-left: 4%;
}

.comment-form .body {
    clear: both;
}

.comment-form::after {
    content: "";
    display: table;
    clear: both;
}

.comment-form p {
    clear: both;
}
